
.page-1{
    height: 100vh;
    background-image: url(../../images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
  
#startHeader {
    padding-top: 50vh;
    font-size: 5vh;
    color: white;
}