
#page-1{
    height: 100vh;
    background-image: url(../../images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}
  
#startHeader {
    padding-top: 25vh;
    font-size: 5vh;
    color: white;
}