.page-2{
    height: 60vh;
    background-color: #191919;
  }
  
.container-left {
    float: left;
    left: 0px;
    width: 50%;
    padding-top: 5vh;
}

.header-text {
    font-size: 50px;
}
  
.container-left-text-part-one {
    margin: auto;
    width: 75%;
    padding: 50px;
    font-size: 25px;
}
  
.container-left-text-part-two {
    margin: auto;
    width: 75%;
    padding: 10px;
    margin-top: 5%;
    font-size: 25px;
}
  
.container-right {
    float: right;
    right: 0px;
    width: 50%;
    padding-top: 5vh;
}
  
.container-right-text-part-one {
    margin: auto;
    width: 75%;
    padding: 50px;
    font-size: 25px
}