.App {
  text-align: center;
}

h1 {
  padding: 2vh;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  color: white;
}

body {
  color: white;
}

a:link {
  text-decoration: none;
}

ul li {
  color: white;
}

nav{
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #36454f;
  width: 100%;
  position: fixed;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.page-1{
  height: 100vh;
  background-image: url(../images/welcome.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.page-2{
  height: 60vh;
  background-color: #191919;
}

.container-left {
  position: absolute;
  left: 0px;
  width: 50%;
  padding-top: 5vh;
}

.container-left-text-part-one {
  margin: auto;
  width: 75%;
  padding: 10px;
  font-size: 2.5vh;
}

.container-left-text-part-two {
  margin: auto;
  width: 75%;
  padding: 10px;
  margin-top: 5%;
  font-size: 2.5vh;
}

.container-right {
  position: absolute;
  right: 0px;
  width: 50%;
  padding-top: 5vh;
}

.container-right-text-part-one {
  margin: auto;
  width: 75%;
  padding: 10px;
  font-size: 2.5vh;
}

.page-3{
  height: 100vh;
  background-color: white;
}

#startHeader {
  padding-top: 50vh;
  font-size: 5vh;
  color: white;
}